.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.text-elipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
