<div class="col" *ngIf="product">
  <div class="card shadow-sm">
    <img class="card-img-top" src="{{product.pictureUrl}}" alt="{{product.name}}">
    <div class="card-body">
      <p class="text-elipsis">{{product.name}}</p>
      <p class="card-text">{{product.price | currency}}</p>

      <div class="btn-group w-100">
        <button type="button" class="btn btn-sm btn-outline-primary">
          <fa-icon [icon]="faCartPlus"></fa-icon>
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary">View</button>
      </div>

    </div>
  </div>

</div>
