.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-body h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
