<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="/assets/images/logo.png" style="height: 50px" alt="">
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/products" class="nav-link" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link">About</a></li>

    <li class="nav-item position-relative">
      <fa-icon [icon]="faCartShopping" size="2x"></fa-icon>
      <span class="cart-no">5</span>
    </li>
    <li class="nav-item"><a href="/login" class="btn btn-outline-primary me-2">Login</a></li>
    <li class="nav-item"><a href="/register" class="btn btn-primary">Sign-up</a></li>
  </ul>

</header>


