<ng-template [ngIf]="product">
  <div class="row">
    <div class="col-4">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="w-100 img-fluid">
    </div>

    <div class="col-8">
      <h3 class="text-primary">{{ product.name }}</h3>
      <p class="currency">{{ product.price | currency }}</p>
      <div class="d-flex align-items-center">
        <fa-icon [icon]="faMinusCircle" (click)="decrementQuantity()" class="icon text-warning"></fa-icon>
        <span class="fw-bold mx-2">{{ quantity }}</span>
        <fa-icon [icon]="faPlusCircle" (click)="incrementQuantity()" class="icon text-warning"></fa-icon>
        <button class="btn btn-lg btn-outline-primary ms-4" (click)="addItemToBasket()">Update cart</button>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <h4>Description</h4>
          <p>{{ product.description }}</p>
          <button [routerLink]="'/'" class="btn btn-sm btn-primary">Back to shop</button>
        </div>
      </div>
    </div>
  </div>


</ng-template>
