<div class="container">
  <div class="row">
    <section class="col-3">

      <h5 class="text-info me-3 my-3">Brands</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let brand of brands">{{brand.name}}</li>
      </ul>

      <h5 class="text-info me-3 my-3">Types</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let type of types">{{type.name}}</li>
      </ul>
    </section>

    <section class="col-9">

      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="text-info my-3 me-3">Sort</h5>
          <button class="btn btn-sm btn-outline-primary me-3">Alphabetical</button>
          <select class="form-select form-select-sm" style="width: 300px">
            <option>Price: Low to High</option>
            <option>Price: High to Low</option>
          </select>
        </div>

        <div class="d-flex align-items-center position-relative">
          <fa-icon class="position-absolute" style="right: 5px" [icon]="faSearch"></fa-icon>
          <input class="form-control form-control-sm" type="text" placeholder="Search...">
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" *ngIf="products">
        <div class="col" *ngFor="let product of products">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{product.pictureUrl}}" alt="{{product.name}}">
            <div class="card-body">
              <p class="card-text">{{product.price | currency}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>


<div class="d-flex justify-content-center mt-3" *ngIf="pagination">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [maxSize]="10"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>

