<div class="container">
  <div class="row gap-3">
    <section class="col-3 bg-body-secondary rounded p-3">
      <app-filter [items]="brands"
                  [title]="'Brand'"
                  [selectedItemId]="userParams?.brandId ?? 0"
                  (itemSelected)="onBrandSelected($event)">
      </app-filter>

      <app-filter [items]="types"
                  [title]="'Type'"
                  [selectedItemId]="userParams?.typeId ?? 0"
                  (itemSelected)="onTypeSelected($event)">
      </app-filter>

      <button class="btn btn-outline-primary w-100"
              (click)="resetFilters()">Reset all filter
      </button>
    </section>

    <section class="col bg-body-secondary rounded">

      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <h5 class="text-primary my-3 me-3 filter-label">Sort</h5>
          <select class="form-select form-select-sm" style="width: 300px">
            <option *ngFor="let sort of sortList" [value]="sort.value" (click)="onSortSelected(sort.value)"
                    class="text-body">
              {{ sort.display }}
            </option>
          </select>
        </div>

        <form class="d-flex align-items-center" (ngSubmit)="onSearch()">
          <button class="btn btn-sm me-3" style="background: #593196">
            <fa-icon [icon]="icons.faRefresh" (click)="onResetSearch()" [style.color]="'#fff'"></fa-icon>
          </button>
          <div class="d-flex align-items-center position-relative">
            <fa-icon class="position-absolute" style="right: 5px" [icon]="icons.faSearch" (click)="onSearch()"
                    [ngStyle]="{'cursor': 'pointer'}"></fa-icon>
            <input class="form-control form-control-sm" type="text" placeholder="Search..." [(ngModel)]="searchTerm"
                    name="searchTerm">
          </div>
        </form>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-4"
           *ngIf="products && products.length > 0; else noProductFound">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
      </div>

      <ng-template #noProductFound>
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 300px">

          <img src="https://officezone.ae/assets/front/img/no_product.png" style="width: 300px" alt="">
          <h5 class="text-danger mt-3">No products found that match the current filter</h5>
        </div>
      </ng-template>
    </section>
  </div>
</div>

<app-pager [pagination]="pagination" (pageChanged)="pageChanged($event)"></app-pager>
