<div style="margin-bottom: 50px;">
  <p class="text-info me-3 mb-2 fs-5 filter-label">{{title}}</p>
  <!--<ul class="list-group">-->
  <!--  <li class="list-group-item"-->
  <!--      *ngFor="let item of items"-->
  <!--      (click)="onItemSelected(item.id)"-->
  <!--      [ngClass]="selectedItemId === item.id ? 'text-info' : ''"-->
  <!--  >{{item.name}}</li>-->
  <!--</ul>-->

  <div *ngFor="let item of items" (click)="onItemSelected(item.id)">
    <input type="radio" name="{{title}}" id="{{item.name + title}}" [checked]="item.id === 0">
    <label for="{{item.name + title}}">
      {{item.name}}
    </label>
  </div>

</div>
